/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
:root {
  --header-height: 5rem;
  --page-width: 60rem;
  --page-padding: 1rem;

  --color-secondary: rgba(0, 255, 255);
  --color-tertiary: rgba(255, 0, 255);

  --drop-shadow-small: 0.15rem 0.15rem 1rem rgba(0, 0, 0, 0.1);
  --drop-shadow-large: 0 0 1rem rgba(0, 0, 0, 0.15);
}
body {
  margin: 0;
}
header {
  background-color: var(--color-secondary);
}
:is(header, main) + * * {
  scroll-margin-top: var(--header-height);
}
.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--page-padding);
}
a {
  display: inline-block;
  color: CanvasText;
  transition-property: color, translate, text-shadow;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;

  &:hover,
  &:focus-visible,
  &:active {
    color: rgba(255, 0, 255, 0.7);
    translate: -0.05em -0.025em;
    text-shadow:
      0.1em 0.05em 0 rgba(0, 255, 255, 0.7),
      0.07em 0.03em 0 CanvasText;
  }
}
