.footer {
  width: 100%;
  padding: 0 var(--page-padding);
  box-shadow: var(--drop-shadow-small);
  background-color: var(--color-tertiary);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--page-padding);
  gap: 2em;
}

.footer-logo {
  text-decoration: none;
  margin: 0;
  font-size: 3rem;
}

.blockquote {
  width: 19rem;
}
