---
interface Props {
  summary: string;
}
const { summary } = Astro.props;
---

<script>
  for (const details of document.querySelectorAll(".details")) {
    const button = details.querySelector(".summary")!;
    button.addEventListener("click", () => {
      details.classList.toggle("open");
    });
  }
</script>

<div class="details">
  <button class="summary">{summary}</button>
  <div class="contents">
    <slot />
  </div>
</div>

<style>
  .details {
    margin: 1.5em 0.5em;
    padding: 0.5em;
    background-color: var(--color-secondary);
    box-shadow: var(--drop-shadow-large);

    &:not(.open) {
      & .summary::before {
        content: "▶";
      }
      & .contents {
        display: none;
      }
    }
  }
  .summary {
    margin: 0.2em;
    font-size: 1.1em;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;

    &::before {
      content: "▼";
      margin-right: 0.8em;
    }
  }
  .contents {
    margin: 0.2em;
  }
</style>
