---
interface Props {
  summary: string;
  contents: string;
}
const { summary, contents } = Astro.props;
---

<script>
  document.addEventListener("click", (event: Event) => {
    const element = (event.target as HTMLElement)?.parentElement;
    if (!element?.classList?.contains("details")) return;

    if (element.classList.toggle("open")) {
      const contents = document.createElement("div");
      contents.classList.add("contents");
      contents.innerHTML = `<p>${element.dataset.contents}</p>`;
      element.appendChild(contents);
    } else {
      element.querySelector(".contents")?.remove();
    }
  });
</script>

<div class="details" data-contents={contents}>
  <button class="summary">{summary}</button>
</div>

<style>
  .details {
    margin: 1.5em 0.5em;
    padding: 0.5em;
    background-color: var(--color-secondary);
    box-shadow: var(--drop-shadow-large);

    &.open .summary::before {
      content: "▼";
    }
  }

  .summary {
    margin: 0.2em;
    font-size: 1.1em;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;

    &::before {
      content: "▶";
      margin-right: 0.8em;
    }
  }
  :global(.details .contents) {
    margin: 0.2em;
  }
</style>
